/* 自訂的 CSS 變數，使用你提供的主色調 */
:root {
  /* 主色调 */
  --color-primary: #1d428a;
  --color-primary-dark: #17356d;
  --color-primary-darker: #132a57;
  --color-primary-darkest: #0f2144;
  --color-primary-light: #3e5da9;
  --color-primary-lighter: #5f79c4;
  --color-primary-lightest: #8095df;

  /* 次要色调 */
  --color-secondary: #fe9308;
  --color-secondary-dark: #e58307;
  --color-secondary-darker: #cc7406;
  --color-secondary-darkest: #b46505;
  --color-secondary-light: #fea527;
  --color-secondary-lighter: #feb547;
  --color-secondary-lightest: #fec667;

  /* 更新原有的颜色变量以使用新的命名 */
  --ifm-color-primary: var(--color-primary);
  --ifm-color-primary-dark: var(--color-primary-dark);
  --ifm-color-primary-darker: var(--color-primary-darker);
  --ifm-color-primary-darkest: var(--color-primary-darkest);
  --ifm-color-primary-light: var(--color-primary-light);
  --ifm-color-primary-lighter: var(--color-primary-lighter);
  --ifm-color-primary-lightest: var(--color-primary-lightest);
}

/* 深色模式時的色調調整 */
[data-theme='dark'] {
  --ifm-color-primary: var(--your-color-secondary);
  --ifm-color-primary-dark: var(--your-color-secondary-dark);
  --ifm-color-primary-darker: var(--your-color-secondary-darker);
  --ifm-color-primary-darkest: var(--your-color-secondary-darkest);
  --ifm-color-primary-light: var(--your-color-secondary-light);
  --ifm-color-primary-lighter: var(--your-color-secondary-lighter);
  --ifm-color-primary-lightest: var(--your-color-secondary-lightest);
}
