/* 主題顏色和基本配置 */
:root {
  --ifm-color-primary: #1d428a;
  --ifm-color-primary-dark: #1a3b7c;
  --ifm-color-primary-darker: #193875;
  --ifm-color-primary-darkest: #142e61;
  --ifm-color-primary-light: #204998;
  --ifm-color-primary-lighter: #214c9f;
  --ifm-color-primary-lightest: #2656b3;

  --background-color: #ffffff;  /* 亮模式背景色 */
  --text-color: #404040;        /* 亮模式文字色 */

  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 1.8;
}

/* 深色模式配置 */
[data-theme='dark'] {
  --ifm-color-primary: #fe930f;
  --ifm-color-primary-dark: #f18601;
  --ifm-color-primary-darker: #e47e01;
  --ifm-color-primary-darkest: #bc6801;
  --ifm-color-primary-light: #fe9f2a;
  --ifm-color-primary-lighter: #fea537;
  --ifm-color-primary-lightest: #feb75f;

  --background-color: #000000;  /* 深色模式背景色 */
  --text-color: #e4e4e4;        /* 深色模式文字色 */
}

/* 全局樣式 */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

body .container {
  max-width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

h1, h2, h3 {
  color: var(--ifm-color-primary); /* 全局標題顏色設定 */
}

a {
  color: var(--ifm-color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--ifm-color-primary-light);
}

.navbar a {
  color: inherit;
  text-decoration: none;
}

.navbar a:hover {
  color: var(--ifm-color-primary);
  text-decoration: underline;
}

/* 首頁特定樣式 */
.hero {
  background-color: var(--ifm-color-primary);
  color: #ffffff;
}

/* 首頁標題和按鈕樣式 */
.hero h1, .hero h2, .hero h3 {
  color: #ffffff;
}

.markdown h2{font-size : 1.6rem;}
.markdown h3{
  font-size: 1.4rem;
  border-left: 5px solid var(--ifm-color-primary-lightest);
  padding: 5px 0 5px 7px;
}

/* 隱藏博客頁側邊欄 */
.blog-post-page aside {
  display: none;
}

/* 移除博客列表和標籤頁的超連結懸停裝飾 */
.blog-list-page a:hover,
.blog-tags-post-list-page a:hover {
  text-decoration: none;
}

/* 統一文章標題和段落的顏色 */
.blog-list-page article header,
.blog-list-page article p,
.blog-tags-post-list-page header,
.blog-tags-post-list-page article p {
  color: var(--font-color-base);
}

/* 設定文章標題的字體大小 */
.blog-list-page article header a,
.blog-tags-post-list-page article header a,
.blog-list-page header a,
.blog-tags-post-list-page header a {
  font-size: 1.2rem;
}

/* 設定H2標籤的行高 */
.blog-list-page header h2,
.blog-tags-post-list-page header h2 {
  line-height: 0.9rem;
}

/* 文章懸停時標題顏色變更 */
.blog-list-page article:hover header a,
.blog-tags-post-list-page article:hover header a {
  color: var(--ifm-color-primary);
}

/* 移除底部間隔 */
.blog-list-page article footer,
.blog-tags-post-list-page article footer {
  margin-top: 0;
}

/* 響應式設計: 雙欄顯示 */
@media (min-width: 651px) {
  .blog-list-page main,
  .blog-tags-post-list-page main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .blog-list-page main > *:not(.pagination-nav),
  .blog-tags-post-list-page main > *:not(.pagination-nav) {
    border: 1px solid #ccc;
    padding: 10px;
    line-height: normal;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .blog-list-page main > article.margin-bottom--xl,
  .blog-tags-post-list-page main > article.margin-bottom--xl {
    margin-bottom: 1rem !important;
  }
}

.avatar {
  padding: 0px; /* 內距 */
  margin: 0px; /* 外距 */
  align-items: center;   /* 垂直居中 */
}

/* 調整姓名文字大小 */
.avatar__name span {
  font-size: 1rem; /* 設定文字大小 */
}

/* 調整職稱文字大小 */
.avatar__subtitle {
  font-size: 0.7rem; /* 設定文字大小 */
}

.avatar__photo {
  width: 40px; /* 設定圖片寬度 */
  height: 40px; /* 設定圖片高度 */
  border-radius: 50%; /* 讓圖片顯示為圓形 */
}

/* 確保分頁導航在Grid容器中正確對齊 */
.pagination-nav {
  grid-column: 1 / -1; /* 如果分頁導航應該橫跨所有列 */
}

.token-line.theme-code-block-highlighted-line {
  background-color: #feb75f;
}